{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-2">
        <img src="{{ product.icon.url }}" class="img-fluid">
    </div>
    <div class="col-10">
        <a href="{{ product.url }}">
            <h2>{{ product.title }}</h2>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>
    <div class="col-3">
        <a href="javascript:{document.getElementById('upvote').submit()}"><button
                class="btn btn-primary btn-lg btn-block"><span class="oi oi-thumb-up"></span> Upvote
            </button></a>
        Upvote Count: {{ product.votes_total }}
    </div>
</div>

<div class="row">
    <div class="col-5 pt-2">
        <h5 class="text-info"><span class="oi oi-person"></span> {{ product.hunter.username }}</h5>
        <h5 class="text-muted"><span class="oi oi-calendar"></span>{{ product.pub_date_pretty }}</h5>
    </div>
    <div class="col-4 text-right">

    </div>
</div>

<div class="row">
    <div class="col-8">
        <p class="lead">{{ product.body }}</p>
    </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}